body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
}

#board {
    /* background-color: skyblue; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./Assets/Games-page.jpg");
    background-size: 100vw 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(7, 33, 101);
    color: #ed1b76;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
