@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    background-size: cover;
    background-image: url("./Assets/Games-page.jpg");
    background-repeat: no-repeat;
    margin: 0;
    color: #ed1b76;
    background-size: 100vw 100vh;
}
.score {
    color: #80a302;
    font-size: 32px;
    display: flex;
    gap: 900px;
    padding: 20px 0;
}
.main {
    padding: 0 10px;
    display: flex;
    flex-grow: 1;
    color: #037a76;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    margin-top: 15px;

    background: rgba(7, 33, 101, 0.7);
    display: flex;
    width: 80%;
    padding: 60px 40px;
    border-radius: 10px;

    align-items: center;
    justify-content: space-between;
}

.hangman-box img {
    user-select: none;
    max-width: 270px;
}

.game-box .word-display {
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.word-display .letter {
    width: 28px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
    border-bottom: 3px solid #ed1b76;
    display: inline-block;
}
.word-display .letter.guessed {
    margin: -40px 0 35px;
    border-color: transparent;
    color: #ff0000;
}
.game-box h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b {
    font-weight: 600;
}
.game-box .guesses-text b {
    color: #ff0000;
}
.game-box .keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}
:where(.game-modal, .keyboard) button {
    color: #037a76;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    background: #ed1b76;
}
.keyboard button {
    padding: 7px;
    width: calc(100% / 9 - 5px);
}
.keyboard button[disabled] {
    pointer-events: none;
    opacity: 0.75;
    background: #249f9c;
    color: #f44786;
}
:where(.game-modal, .keyboard) button:hover {
    background: #037a76;
    color: #ed1b76;
}
.game-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 0 10px;
    transition: opacity 0.4s ease;
}
.game-modal.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s 0.4s ease;
}
.game-modal .content {
    padding: 30px;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.game-modal img {
    max-width: 130px;
    margin-bottom: 20px;
}
.game-modal img[src="images/victory.gif"] {
    margin-left: -10px;
}
.game-modal h4 {
    font-size: 1.53rem;
}
.game-modal p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}
.game-modal p b {
    color: #5E63BA;
    font-weight: 600;
}
.game-modal button {
    padding: 12px 23px;
}

@media (max-width: 782px) {
    .container {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }
    .hangman-box img {
        max-width: 200px;
    }
    .hangman-box h1 {
        display: none;
    }
    .game-box h4 {
        font-size: 1rem;
    }
    .word-display .letter {
        margin-bottom: 35px;
        font-size: 1.7rem;
    }
    .word-display .letter.guessed {
        margin: -35px 0 25px;
    }
    .game-modal img {
        max-width: 120px;
    }
    .game-modal h4 {
        font-size: 1.45rem;
    }
    .game-modal p {
        font-size: 1.1rem;
    }
    .game-modal button {
        padding: 10px 18px;
    }
}

.word-display .space-separator {
    width: 28px;
    height: 35px;
    display: inline-block;
    color: transparent;
    margin: 0 5px 40px 5px;
    border-bottom: none;
}

.word-display .space-separator.space-pressed {
    background-color: #000000;
}
